<div class="movie-details-container">
    <!-- <div class="movie-list-container">
        <div class="poster-image">
            <img src="http://image.tmdb.org/t/p/w185/{{movie.poster_path}}" alt="">
        </div>
        <div class="movie-content">
            <div class="top">
                <div class="vote-score">
                    <div><span>{{movie.vote_average*10}}<sup>%</sup></span></div>
                </div>
                <div class="header-section">
                    <h4>{{movie.title}}</h4>
                    <h5>{{movie.release_date}}</h5>
                </div>
            </div>
            <p>{{movie.overview}}</p>
            <div class="info-btn"><a href="">More Info</a></div>
        </div>
    </div> -->
    {{id}}
</div>