<div class="movie-details-container">
    <div class="poster-bg" [ngStyle]="{'background-image': getImage()}">
        <div class="main-content-with-overlay">
            <div class="image-container">
                <img src="http://image.tmdb.org/t/p/original/{{movieDetails['poster_path']}}" alt="">
            </div>
            <div class="content-right-container">
                <div class="header-section">
                    <h2>{{movieDetails["title"]}} <span>({{movieDetails["release_date"] | date:'yyyy'}})</span></h2>
                </div>
                <div class="options-container">
                    <div class="vote_average">
                        <div>{{movieDetails["vote_average"]*10}}<sup>%</sup></div>
                    </div>
                    <button mat-raised-button matTooltip="Mark as Favorite" class="user-btn"><img
                            src="https://img.icons8.com/material-sharp/16/ffffff/like.png" /></button>
                    <button mat-raised-button matTooltip="Add to your watchlist" class="user-btn"><img
                            src="https://img.icons8.com/material-rounded/16/ffffff/bookmark-ribbon.png" /></button>
                    <button mat-raised-button matTooltip="Rate it!" class="user-btn"><img
                            src="https://img.icons8.com/material-rounded/16/ffffff/star.png" /></button>
                    <button mat-raised-button matTooltip="Play Trailer" class="user-btn"><img
                            src="https://img.icons8.com/android/16/ffffff/play.png" /></button>
                </div>
                <h3>Overview</h3>
                <p>{{movieDetails["overview"]}}</p>
                <h3>Production Company</h3>
                <div class="production-container">
                    <div class="companies" *ngFor="let company of movieDetails['production_companies']">
                        <ng-template [ngIf]="company['logo_path'] === null" [ngIfElse]="none">
                            <span>{{company['name']}}</span>
                        </ng-template>
                        <ng-template #none>
                            <img src="http://image.tmdb.org/t/p/original/{{company['logo_path']}}" alt="">
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="left-container">
            <div class="cast-container">
                <h3>Top Billed Cast</h3>
                <div class="top-cast-container">
                    <div class="top-cast" *ngFor="let cast of movieCredits['cast']; index as i">
                        <ng-template [ngIf]="i < 5">
                            <div class="filtered-cast">
                                <div class="profile-image">
                                    <img src="http://image.tmdb.org/t/p/original/{{cast['profile_path']}}" alt="">
                                </div>
                                <div>
                                    <h4>{{cast["name"]}}</h4>
                                    <p>{{cast["character"]}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-container">
            <h3>Facts</h3>
        </div>
    </div>
</div>